{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    alert("{{messages[-1]}}")
</script>
{% endif %}
{% endwith %}



<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>퀴즈 관리자</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/member.css">
</head>

<body class="login_body">
    <div class="login_div">
        {%if userid%}
        <span style="color: black; font-size:0.9rem">{{userid}}님 <br>환영합니다</span> <br>
        <button type="button" class="btn btn-light" onclick="location.href='/logout' "
            style="height: 33px; font-size: 13px">로그아웃</button>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">주문자 이름</span>
                </div>
                <input type="text" class="form-control" placeholder="이름을 입력해주세요" aria-label="name"
                       aria-describedby="basic-addon1" id="name">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">전화번호</label>
                </div>
                <select class="custom-select" id="phone1">
                    <option selected>선택</option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">수량</label>
                </div>
                <select class="custom-select" id="cnt">
                    <option selected>선택</option>
                    <option value="1">1 바구니</option>
                    <option value="2">2 바구니(10% 추가 할인)</option>
                    <option value="3">3 바구니(20% 추가 할인+배송비 무료)</option>
                </select>
            </div>
            <div class="wrap_btn">
                <button onclick="saveOrder()" type="submit" class="btn btn-primary">주문하기</button>
            </div>
        </div>
        <table class="type07">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>수량</th>
                    <th>주소</th>
                    <th>연락처</th>
                </tr>
            </thead>
            <tbody id="orderTable">

            </tbody>
        </table>
        {%else%}
        <form method="post" action="/admin_quiz">
            <ul>

                <li><input type="text" placeholder="아이디" name="userid"></li>

                <li><input type="password" placeholder="비밀번호" name="userPW"></li>

                <button type="submit" class="btn_login">로그인</button>
            </ul>
        </form>
        {%endif%}


    </div>
</body>

</html>